<h1>{{title}}</h1>
<form [formGroup]="createList" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="main">

     <ng-container *ngIf="val.value; else elseBlock ">
                <img src="{{val.value}}"  >
            </ng-container >
            <ng-template #elseBlock>
              <img src="/../assets/default.jpeg">
            </ng-template>
    </div>

    <div class="containt">
      <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input
          matInput
          placeholder="Enter product name"
          formControlName="productName"
          autocomplete="off"
        />
      </mat-form-field>
     <!-- <span *ngIf="!this.createList.get('productName')?.valid && this.createList.touched">Product name is required!</span> -->

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
        matInput
          placeholder=""
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input
          matInput
          formControlName="price"
          autocomplete="off"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Product Image</mat-label>
        <mat-select  formControlName="productImage"  #val>
          <mat-option *ngFor="let food of products" [value]="food.value" >
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close ml-8>
          Close
        </button>
        <button mat-raised-button color="primary" >
          {{ actionBtn }}
        </button>
      </div>
    </div>
  </div>
</form>

